apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ mlflow_pvc_name }}
  namespace: {{ mlflow_namespace }}
  labels:
    app: mlflow
    component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ mlflow_storage_size }}
  storageClassName: {{ storage_class_name }}