apiVersion: argoproj.io/v1alpha1
kind: EventSource
metadata:
  name: {{ eventsource_name }}
  namespace: argo-events
spec:
  {{ eventsource_type }}:
    {{ eventsource_config | to_nice_yaml(indent=6) }}